.container {
  /* width: clamp(320px, 50%, 480px); */
  container-type: size;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  box-shadow: 4px 4px 4px 1px;
  background-color: var(--color-prim);
}

.stylesContainer {
  width: 100%;
  height: 100%;
}

.headContainer {
  height: clamp(200px, 14rem, 240px);
}

.imgContainer {
  position: relative;
  height: 100%;
}

.img {
  width: 100%;
  min-height: 100%;
  position: absolute;
  border-radius: 16px 16px 0 0;
}

.imgShade {
  min-height: 100%;
  width: 100%;
  background-color: var(--color-black);
  opacity: 60%;
  border-radius: 16px 16px 0 0;
}

.imgShade:hover {
  opacity: 80%;
}

.recipeLink {
  opacity: 0;
  color: var(--color-white);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.recipeLink:hover {
  opacity: 100%;
}

.recipeLink a {
  position: absolute;
  left: calc(50% - 7rem);
  top: 2rem;
}

/* .imgInfo {
  position: absolute;
  display: grid;
  padding: ;
  grid-template-columns: 1fr 1fr;
  top: 0;
  width: 100%;
  height: 100%;
  color: var(--color-white);
  align-items: flex-end;
  justify-content: flex-end;
} */

.imgLeftInfo {
}

.imgRightInfo {
  position: absolute;
  bottom: 0rem;
  right: 0rem;
  color: var(--color-white);
  padding: 1rem;
}
.imgRightInfo > * {
  /* height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column; */
  margin-top: 0.5rem;
}

.mainContainer {
  padding: 1rem 0;
}

.mainContainer > * {
  padding: 1rem;
}

.title a {
  text-decoration: none;
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.description {
}

.button {
  background-color: var(--color-sec);
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem auto;
  display: flex;
}

.button:hover {
  text-decoration: underline;
}

@container (min-width: 900px) {
  .innerContainer {
    /* width: clamp(900px, 100%, 1440px); */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    height: 100%;
  }

  .img,
  .imgContainer,
  .imgShade {
    border-radius: 16px 0 0 16px;
  }

  .headContainer {
    height: 100%;
  }

  .mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

@container (max-height: 550px) {
  .description {
    display: none;
  }
}
