.container {
  margin: 0.5rem;
}

.posContainer {
  display: inline-block;
  position: relative;
  width: fit-content;
}

.inputTxt {
  padding: 0.5rem;
  background-color: var(--color-white);
}

.btn {
  position: absolute;
  right: 0.5rem;
  top: calc(50% - 8px);
}
