.container {
  position: relative;
  display: flex;
  overflow: hidden;
  gap: 2rem;
  justify-content: center;
}

.container > div {
  position: relative;
}

.arrow {
  border: solid var(--color-black);
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 8px;
  background: transparent;
  position: absolute;
  top: 50%;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: calc(50% - 180px);
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: calc(50% - 180px);
}

/* .arrowBtn {
  padding: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: absolute;
  right: 0;
  top: 50%;
} */
